*{
	box-sizing: border-box;
	margin:0;
	padding:0;
}

body {
	font-family: Roboto,Avenir,Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size: 18px;
}

.cabecalho {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height:3.5em;
	width:100%;
	color: white;
	background: linear-gradient(-90deg, #84CF6A, #16C0B0);
	background-color:#333
}

.cabecalho-titulo {
	display: flex;
	font-weight: 500;
	font-size: 2em;
	margin-left: 1.0em;
	padding-top: 0.5em;
	padding-bottom: 0.8em;
}

.cabecalho-nav {
	display: flex;
	padding: 0.4em;
	margin-right: 2.2em;
	border: 1px solid white;
	font-size: 1.0em;
}

.cabecalho-nav-login {
	display: flex;
}

.estado-tribunal {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 1.2em;
	margin-top: 1.4em; 
	margin-bottom: 1em; 
}

.busca-processo {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2em;
	margin-top: 1em; 
	margin-bottom: 1em;
}

.campo-processo{
	display: flex;
	font-size: 0.9em;
	width:14.7em;
	border: 1px solid #ccc;
	padding: 0.3em;
}

.tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	/* Position the tooltip */
	position: absolute;
	z-index: 1;
  }

  .campo-processo:hover .tooltiptext {
	visibility: visible;
  }


.botao-processo{
	display: flex;
	font-size: 0.8em;
	padding: 0.4em;
	padding-left            : 0.8em;
	padding-right: 0.8em;
	cursor: pointer;
	margin-top: -1px;
	color: #fff;
	background-color:lightcoral;
	border: 1px;
	border-color: black;
	clear: both;	
}

.botao-processo:hover {
	border: 1px solid black;
	background-color:rgb(228, 76, 20);
	transition: 500ms all;
}

.erro-busca-processo {
	display: flex;
	justify-content: center;
}

.invisivel {
	display: none;
}

.formato-publicacao {
	display: flex;
	flex-direction: column;
	margin-left:1%;
	margin-right:1%;
	padding:0.5em;
	font-size: 1.1em;
	/*border: 1px solid grey;*/
	background-color:rgb(227, 233, 227);
}

.item-lista-publicacao {

}

